/DivSqrProject/nbproject/private/
/DivSqrProject/DivSqrProject-war/nbproject/private/
/DivSqrProject/DivSqrProject-ejb/nbproject/private/
/DivSqrProject/build/
/DivSqrProject/dist/
/DivSqrProject/DivSqrProject-war/dist/
/DivSqrProject/DivSqrProject-war/build/
/DivSqrProject/DivSqrProject-ejb/build/
/DivSqrProject/DivSqrProject-ejb/dist/